<?php
return array(
 	'database' => array(
        'host'      => 'localhost',
        'database'  => '',
        'username'  => '',
        'password'  => '',
        'prefix'    => ''
    ),
    'title' => 'Eltern Sprechtags Verwaltung',
    'title abbreviation' => 'ESV',
    'school' => array(
        'name' => '',
        'adress' => array(
            'street' => '',
            'postcode' => '',
            'state' => '',
            'land' => '',
        ),
        'phonenumber' => '',
        'faxnumber' => '',
        'url' => '',
    ),
    'uploaddirectory' => '',
    'version' => '1.0.0',
    'installed' => false,
);